#main {
    background: honeydew;
    /*width: 1000px;*/
    /* height: 600px;
    margin: auto; */
    /*margin: 0;*/
    padding: 0;
}

#header {
    min-height: 70px;
    width: 100%;
    background: #aff1af;
    padding-top: 7px;
    /*background: url("") ;*/
    /*padding-bottom: 20px;*/

}

#menu {
    min-height: 300px;
    background: white;
}

#menubar {
    text-align: center;
    background: honeydew;
    min-height: 50px;
    padding-top: 10px;
}

#nb {
    margin: 0 20px;
    font-size: 28px;
    cursor: pointer;
    display: none;

}

@media only screen and (max-width:700px){
    #nb {
        display: block;
        text-align: right;
    }
    h5 a{
        display: block;
        text-align: right; 
    }
    h5{
        display: none;
    }

}





#content{
    height: 600px;
    background: #f6e1b9;
    margin-left: 200px;
}


h5 {
    list-style-type: none;
    display: inline;
}

h5 a {
    text-decoration: none;
    color: darkgreen;
    /*background: aqua;*/
    padding: 20px;
    /*border-radius: 10px;*/

}

a:hover {
    color: purple;
    /*background: chartreuse;*/
}


h1 {
    color: #017501;
    padding-left: 70px;
    padding-top: 50px;
}

h1:hover {
    color: limegreen;
}

#text {
    color: #cece00;
}

#text:hover {
    color: orange;
}

h6 {
    padding-left: 60px;
    color: #cece00;

}


button {
    color: darkgoldenrod;
    background: #ffcd39;
}

button:hover {
    color: green;
    background: #023f02;
    border: none;
    /*padding: 16px 32px;*/
    cursor: pointer;
}


.b1 {
    margin:0 0 17px 42rem;
}






body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    float: right;
    background-color: #04AA6D;
    color: white;
    /*padding-right: 50px;*/
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    float: right;
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width:100px;
    /*border-radius: 50%;*/
}

.container {
    padding: 16px;
}

span.psw {
    float: left;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 500px; /* Full width */
    height: 500px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    padding-left:200px ;
    padding-right: 200px;

}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}