/* div{
    display: inline-block;
} */

/* .container{

} */

#main {
    background: honeydew;
    /*width: 1000px;*/
    /* height: 600px;
    margin: auto; */
    /*margin: 0;*/
    padding: 0;
}

#header {
    min-height: 70px;
    width: 100%;
    background: #aff1af;
    padding-top: 7px;
    /*background: url("") ;*/
    /*padding-bottom: 20px;*/

}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
    float: right;
    margin: 7px;
    /*position: relative;*/
    display: block;
}

.searchTerm {
    border: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: darkgreen;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #2c4949;
    background: darkslategray;
    text-align: Center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}









#menubar {
    background: honeydew;
    min-height: 50px;
    padding-top: 10px;
}

#menu {
    min-height: 300px;
    background: white;
}


.sidebar{
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #6c8c66;
    /*position: fixed;*/
    height: 600px;
    overflow: auto;
    float: left;
}
.sidebar a{
    display: block;
    color: #0c0c0c;
    padding: 16px;
    text-decoration: none;
}
.sidebar a.active{
    background-color: #f6cf57;
    color: white;
}
.sidebar a:hover:not(.active){
    background-color: #0c4128;
    color: white;
}




#content{
    height: 600px;
    background: #f6e1b9;
    margin-left: 200px;
}


h5 {
    list-style-type: none;
    display: inline;
}

h5 a {
    text-decoration: none;
    color: darkgreen;
    /*background: aqua;*/
    padding: 20px;
    /*border-radius: 10px;*/

}

a:hover {
    color: purple;
    /*background: chartreuse;*/
}


h1 {
    color: #017501;
    padding-left: 70px;
    padding-top: 50px;
}

h1:hover {
    color: limegreen;
}

#text {
    color: #cece00;
}

#text:hover {
    color: orange;
}

h6 {
    padding-left: 60px;
    color: #cece00;

}

button {
    color: darkgoldenrod;
    background: #ffcd39;
}

button:hover {
    color: green;
    background: #023f02;
    border: none;
    /*padding: 16px 32px;*/
    cursor: pointer;
}


.b1 {
    margin:0 0 17px 42rem;
}








@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
    padding:0;
    margin:0;
}

html{
    background-color: #eaf0f2;
}

body{
    font:16px/1.6 Arial,  sans-serif;
}

header{
    text-align: center;
    padding-top: 100px;
    margin-bottom:190px;
}

header h1{
    font: normal 32px/1.5 'Open Sans', sans-serif;
    color: #3F71AE;
    padding-bottom: 16px;
}

header h2{
    color: #F05283;
}

header span{
    color: #3F71EA;
}


/* The footer is fixed to the bottom of the page */

footer{
    position: fixed;
    bottom: 0;
}

@media (max-height:800px){
    footer { position: static; }
    header { padding-top:40px; }

}


.footer-distributed{
    background-color: #304930;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 0px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 30%;
}

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
    width: 30%;
}

.footer-distributed h3 span{
    color:  #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}


.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #e0ac1c;
    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 30%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}








